@import "./global.scss";

.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - #{$navbar_height});
        top: $navbar_height;
        position: relative;
        scroll-behavior: smooth;
        

        /* Hide scroll bar */
        &::-webkit-scrollbar{ /* Chrome, Safari, Opera */
            display: none;
        }
        scrollbar-width: 0; /* Fire Fox */
        
        > * {
            height: calc(100vh - #{$navbar_height});
        }
    }
}